@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-forest text-on-surface font-body antialiased;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }
}
